<!doctype html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
</head>
  <body>
    
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-3">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="coverImageURL" class="form-label">Upload Image</label>
              <input type="file" class="form-control" id="coverImageURL" name="coverImageURL" aria-describedby="coverImageURL">
            </div>


            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
            </div>

            <div class="mb-3">
                <label for="body">Content</label>
                <textarea name="body" class="form-control" placeholder="Write Main Body" id="body" style="height: 100px"></textarea>
            </div>



            <div class="mb-3">
                <button class="btn btn-secondary">
                    Post
                </button>
            </div>
            
        </form>
    </div>
    <%- include('./partials/script.ejs') %>
  </body>
</html>  